*
{
    margin: 0px;
    padding: 0px;
    font-family: "Arial", sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
}

.btn{
    background-color: rgb(101, 101, 239);
    color:white;
}
.btn:hover{
    background-color:rgb(63, 63, 241);
    color:white;
}
.primary{
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
    display: flex;
    margin-top: 30px;
}
.primary_content{
    display:block;
    justify-content: space-between;
}
.main_primary_content{
    font-weight: bolder;
    font-size: 100px;
}
.secondary_primary_content{
    margin-top: 50px;
}
.third_primary_content{
    border: 2px solid black;
    border-radius: 3px;
    justify-content: center;
    display: inline-block;
    margin-top: 30px;
}
.main_third_primary_content{
    font-weight: bolder;
    display: inline-block;
    margin-left: 20px;
    margin-top:2px;
}
.main_fourth_primary_content{
    display: inline-block;
    margin-left: 14px;
    margin-right: 20px;
    margin-top:6px;
}
.secondary-section{
    background-color:rgb(101, 101, 239);
    display: block;
    margin-top: 40px;
}
.secondary-section-main{
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 60px;
}
.third-section-main{
    text-align: center;
    color: white;
}
.fourth-section-main{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
.btn2{
    background-color: white;
    color:rgb(63, 63, 241);
    border: 2px solid white;
    border-radius: 6px;
    padding: 3px 9px 3px 9px;
}
.btn2:hover{
    background-color: rgb(63, 63, 241);
    color: white;
    border: 2px solid rgb(63, 63, 241);
    border-radius: 6px;
}
.last-section{
    text-align: center;
}
.last-section-main{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 16px 48px;
}
.last-section-primary{
    text-align: center;
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 60px;
}
.last-section-secondary{
    text-align: center;
}
.last-section-main{
    display:flex;
    padding-top:30px;
}
.last-section-main-primary{
    float:left;
    text-align:center; 
    width:100%;
    border:0.01px solid rgb(101, 101, 239);
    border-radius: 0.5px;
    padding-top: 10px;
    padding-bottom:100px;

}
.last-section-main-primary:hover{
    border: 0.01px solid white;
    border-radius: 0.5px;
}    
.last-section-main-secondary{
    float:left;
    text-align:center;
    width:100%;
    padding-bottom: 50px;
}
.last-section-main-secondary:hover{
    border: 0.01px solid white;
    border-radius: 0.5px;
}    
.last-section-main-third{
    float:right;
    text-align:center;
    width:100%;
    border: 0.01px solid rgb(101, 101, 239);
    border-radius: 0.5px;
    padding-top: 10px;
    padding-bottom:100px;
}
.last-section-main-third:hover{
    border: 0.01px solid white;
    border-radius: 0.5px;
}
.popular{
    background-color: rgb(43, 216, 176);
    margin-left: 20px;
    margin-right:20px;
    border-radius: 4px;
    color: white;
}
.btn3{
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 90px 5px 90px;
}
.btn3:hover{
    color: white;
    background-color: rgb(101, 101, 239);
    border:2px solid white;
}
.top{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;

}
.text{
    padding-top: 10px;
    padding-bottom: 10px;

}
.money{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 45px;

}
.btn3-div{
    padding-top: 10px;
    padding-bottom: 10px;

}
.points{
    text-align: left;
    padding-left: 60px;
    padding-top: 10px;
}
.footer{
  position: fixed; 
  bottom: 0;
}
.text-center-text-white{
    text-align: center;
    background-color: rgb(2, 33, 75);
    margin-top: 30px;
}
.footer_text{
    color: white;
    padding-bottom: 30px;
}
html,body{
    width: 100%;
    height:100%;
    padding:0px;
    margin:0px;
}
    